body,
html {
    font-family: 'OpenSans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

.kasper {
    padding: 120px 0 40px;
    background-color: #121116;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    max-width: 113px;
    margin: 0 auto 35px;
}

.logo-item {
    text-decoration: none;
}

.title-holder {
    max-width: 230px;
    margin: 0 auto 30px;
    padding: 20px 30px;
    border-bottom: 1px solid #fff;
}

.title-holder h1 {
    text-align: center;
    margin: 0;
    padding: 0;

    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.social {
    text-align: center;
    margin-bottom: 90px;
}

.social-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-item {
    display: inline-block;
    margin: 0 17.5px;
}


.social-link {
    display: block;
    width: 15px;
    height: 15px;
}

.copyright {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.copyright a {
    text-decoration: none;
    color: #00c7fc;
}